

body {
  font-family: 'Roboto',
    sans-serif;
  overflow-x: hidden !important;
  position: relative;

   
    
}

h2 {
  color: #424242b3;
  font-size: 32px;
  font-weight: normal;
  font-family: "Kaushan Script", cursive;
}
.section{
  margin-top: 150px;
}