

body {
  font-family: 'Roboto',
    sans-serif;
  overflow-x: hidden !important;
  position: relative;
   
    
}
.main-wrapper {
  width: 100vw;
  height: 100vh;
  padding:5%;

}
h2 {
  color: #424242b3;
  font-size: 32px;
  font-weight: normal;
  font-family: "Kaushan Script", cursive;
}